*, *::after, *::before {
  box-sizing: border-box;
}
html {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 1.3rem;
  line-height: 2rem;
  /* background-color: blueviolet; */
}
body{
  padding-bottom: 3rem;
}
a {
  display: block;
  text-decoration: none;
}
.negrita {
  font-weight: bold;
}

.azul {
	color: blue;
}

.imagen-izquierda { 
  background-image: url(https://cdn.pixabay.com/photo/2017/07/31/14/45/code-2558224__340.jpg);
  width: 200px;
  height: 150px;
  background-size: cover;
}

.imagen-derecha { 
  background-image: url(https://cdn.pixabay.com/photo/2018/10/21/10/07/technology-3762546__340.jpg);
  width: 200px;
  height: 150px;
  background-size: cover;
}

.flex-container-encabezado-principal{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

/* .encabezado-principal{
  padding-bottom: 15px;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: darkolivegreen;
}
 */
.email-docente
{
  border-top-style: solid;
  border-top-width: 2px;
  border-top-color: rgb(44, 47, 38);

  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: rgb(44, 47, 38);
}

.actividades-principales{
  margin-top: 10px;
}

.h2-subtitulo-competencia1 {
  font-size: 1em;
}

.h3-algoritmos-numericos {
  font-size: 1em;
}